ul {
    background-color: rgb(170, 215, 217);
    border-color: rgb(146, 199, 207);
    border-style: none none solid none;
    border-width: 2px;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

a:link, a:visited{
    color:black;
    text-decoration: none;
}
  
a:hover, a:active{
    text-decoration: none;
    color: rgb(98, 113, 113);
}

ul button{
    border-radius: 0px;
    color:black;
    height:100px;
    width:300px;
}