ul {
    background-color: #5ED6E6;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

a:link, a:visited{
    color:black;
    text-decoration: none;
}
  
a:hover, a:active{
    text-decoration: none;
    color: rgb(98, 113, 113);
}

ul button{
    border-radius: 0px;
    color:black;
    height:100px;
    width:300px;
}