<h1 animate.enter="enter-animation">Projects</h1>

<div animate.enter="enter-animation" class="content">
  <div>
    <img src="images/prizefight.png">
  </div>
  <div>
    <p >{{prizeFightText}}</p>
    <button  matButton="filled" (click)="goToExternalUrl('https://library.humber.ca/collections/repository/content/codename-prizefight')">Link To Project</button>
  </div>
</div>




<div animate.enter="enter-animation" class="content">
  <div>
    <p >{{captisCrystalliText}}</p>
    <button  matButton="filled" (click)="goToExternalUrl('https://drive.google.com/file/d/1XcTzbLgOrHzkaa2S3-Wd1GIeBVFgUxZi/view?usp=sharing')">Link To Project</button>
  </div>
  <div>
    <img src="images/Crypt.png" class="image_right">
  </div>

</div>



<div animate.enter="enter-animation" class="content">
  <div>
    <img  src="images/procedural.png" class="image_left">
  </div>
  <div>
    <p >{{procedural}}</p>
    <button matButton="filled" (click)="goToExternalUrl('https://thebenbro.itch.io/procedural-room-generation-tech-demo')">Link To Project</button>
  </div>
</div>

<div class = externalLinks animate.enter="enter-animation">
  <h3>Other Links</h3>
  <div class="buttons">
  <button>
    <a href="https://github.com/TheBenBro" target="_blank">
      <img src="images/github-mark.png">
    </a>
    
  </button>

  <button >
    <a href="https://thebenbro.itch.io/" target="_blank">
      <img class="itch" src="images/itchio-logo-black.png">
    </a>
  </button>
  </div>
</div>

  
