
<div class="content">
  <div>
    <img src="prizefight.png">
  </div>
  <div>
    <p>{{prizeFightText}}</p>
    <button mat-button (click)="goToExternalUrl('https://library.humber.ca/collections/repository/content/codename-prizefight')">Link To Project</button>
  </div>
</div>




<div class="content">
  <div>
    <p>{{captisCrystalliText}}</p>
    <button mat-button (click)="goToExternalUrl('https://drive.google.com/file/d/1XcTzbLgOrHzkaa2S3-Wd1GIeBVFgUxZi/view?usp=sharing')">Link To Project</button>
  </div>
  <div>
    <img src="Crypt.png" class="image_right">
  </div>

</div>



<div class="content">
  <div>
    <img src="procedural.png" class="image_left">
  </div>
  <div>
    <p>{{procedural}}</p>
    <button mat-button (click)="goToExternalUrl('https://thebenbro.itch.io/procedural-room-generation-tech-demo')">Link To Project</button>
  </div>
</div>


<a href="https://github.com/TheBenBro" target="_blank">My GitHub to other projects</a>
  
